h1 Sakura IoT Webhool Listener
p A heroku app to listen sakura Iot platform outgoing webhook.
if channelsHistory.length == 0
  p No channels history
else
  table
    thead
      th channel
      th type
      th value
      th datetime
    tbody
      for channels in channelsHistory
        for channel in channels
          tr
            td= channel.channel
            td= channel.type
            td= channel.value
            td= channel.datetime

